attrs==19.3.0
colorama==0.4.3
docopt==0.6.2
et-xmlfile==1.0.1
importlib-metadata==1.7.0
jdcal==1.4.1
joblib==0.16.0
more-itertools==8.4.0
numpy==1.19.0
openpyxl==3.0.4
packaging==20.4
pandas==1.0.5
pathtools==0.1.2
patsy==0.5.1
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==5.4.3
pytest-watch==4.2.0
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.5.2
six==1.15.0
sklearn==0.0
statsmodels==0.11.1
threadpoolctl==2.1.0
tqdm==4.48.0
watchdog==0.10.3
wcwidth==0.2.5
zipp==3.1.0
